<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850460223932-36tvdtsn4afd29poktdc87inp7njc5a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850460223932-36tvdtsn4afd29poktdc87inp7njc5a2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850460223932-7uqpcvcm96vctt3ur9lcgk3n0t0h6r7n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIHhA9JNDYvefAOVcGW6PK2vCGJ5zSvNk</string>
	<key>GCM_SENDER_ID</key>
	<string>850460223932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywo.dev</string>
	<key>PROJECT_ID</key>
	<string>mywo-b609c</string>
	<key>STORAGE_BUCKET</key>
	<string>mywo-b609c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850460223932:ios:fc60fb9a480e2f0fac63b9</string>
</dict>
</plist>